.menu-btn{
    position: absolute;
    left: 1rem;
    top: 1rem;
    z-index: 2;
    height: 20px;
    width: 28px;
    cursor: pointer;
    transition: all 0.4s;
    visibility: hidden;
    .open{
        position: fixed;
        left: 2rem;
        top: 2rem;
    
    }
    &-burger{
        position: absolute;
        top: 0.5rem;
        left: 0;
        width: 28px;
        height: 3px;
        background: $secondaryColor;
        transition: all 0.4s;

        &::before{
            content: '';
            position: absolute;
            top: -8px;
            width: 28px;
            height: 3px;
            background: $secondaryColor;

        }
        &::after{
            content: '';
            position: absolute;
            top: 8px;
            width: 20px;
            height: 3px;
            background: $secondaryColor;

        }
        &.open{
            transform: rotate(720deg);
            background: transparent;

            &::before{
                transform: rotate(45deg) translate(5px, 8px);
            }

            &::after{
                width: 28px;
                transform: rotate(-45deg) translate(3px, -7px);
            }
        }
    }
}
#side-drawer{
    padding-top: 2rem ;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    opacity: 0.98;
    visibility: hidden;
    z-index: 1;
    transition: all 0.1s;

    &.open{
        visibility: visible;
    }
    .links-burger{
        .categories{
            @include flexCenter(column);
            justify-content: space-around;
            margin-bottom: 2rem;
            a{
                text-decoration: none;
                color: $secondaryColor;
                font-weight: 700;
                font-size: 2rem;
                border-radius: 10px;
                padding: 0 0.5rem;
                margin: 0.4rem 0;
                &:hover{
                    background-color: $secondaryColor;
                    color: $backgroundColor;
                }
    
            }

        }
  
    }
}
