.game-item{
    position: relative;
    height: 12rem;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    transition: all 0.4s;
    .gameTitle{
        position: absolute;
        background: $backgroundColor;
        opacity: 0.9;
        bottom: 0rem;
        left: 0rem;
        width: 100%;
        display: none;
        pointer-events: none;

        h2{
            margin: 0.3rem;
            color: $secondaryColor;
        }
    }
    .image{
        height: 100%;
        background-size: cover;
        background-position: center;

    }
    &:hover{
        transform: translateY(-5px);
        z-index: 99;
        .gameTitle{
            display: block;
        }
    }
    
}
