$backgroundColor: #351F39;
$secondaryColor: #D36B00;
$textColor: #E6D2AA;

@mixin flexCenter($direction){
    display: flex;
    flex-direction: $direction;
    justify-content: center;
    align-items: center;
}

